body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    text-align: center;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

input, button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#qrCode {
    margin-top: 20px;
}

#downloadButton {
    display:none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
